.header{
    margin-bottom: 45px;
}

hr{
    margin: 45px 0;
    background: #000;
}

table{
    text-align: center;
}

.inc{
    color: green;
    font-weight: 700;
}

.dec{
    color: red;
    font-weight: 700;
}

.data{
    display:flex;
    justify-content: space-around;
}

.data-item{
    display: block;
    width:30%;
    padding: 20px 0;
    background: #0096CC;
    color: #fff;
    font-weight: 700;
    font-size:20px;
    text-align: center;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
}

.table-container{
    display: flex;
    justify-content: center;
}

table.table * {
    vertical-align: middle !important;
}

table.table .date{
    min-width: 118px;
}

table.table .icon{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

table.table .icon *:nth-child(1){
    margin-right: 3px;
}

.underline{
    padding-bottom: .5px;
    border-bottom: 2px dashed #000 !important;
    cursor: pointer;
}

.chart-container{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    min-height: 200px;
    text-align: center;
}

.chart-container .chartLine{
    display: none;
}

.chart-container .spinner div:nth-child(1){
    margin-bottom: 10px;
}


@media only screen and (max-width: 767px){
    .header h2{
        display:block;
        text-align: center;
    }
    .data{
        flex-direction: column;
        align-items: center;
    }

    .data-item{
        width:80%;
        font-size:25px;
    }

    .data-item:nth-child(-n+2){
        margin-bottom: 25px;
    }

}
