.container .row .col-md-12{
    display: flex;
    flex-direction: column;
}

table.table{
    text-align: center;
    align-self: center;
}

table.table tbody tr td a {
    text-decoration: none;
}

.clickable-row{
    cursor: pointer;
}

.minor{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
